<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ekgc.itrip.dao.HotelTempStoreDao">
	<select id="findListByQuery" parameterType="HotelTempStore" resultType="HotelTempStore">
		select
			 id,
			 hotelId,
			 roomId,
			 recordDate,
			 store,
			 creationDate,
			 createdBy,
			 modifyDate,
			 modifiedBy
		from itrip_hotel_temp_store
		<where>
			<trim suffixOverrides="and">
				<if test="hotelId != null">hotelId=#{hotelId} and </if>
				<if test="roomId != null">roomId=#{roomId} and </if>
			</trim>
		</where>
	</select>
</mapper>