<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ekgc.itrip.dao.LinkUserDao">
	<select id="findListByQuery" parameterType="LinkUser" resultMap="linkUserMap">
		select
			l.id,
			l.linkUserName,
			l.linkIdCard,
			l.linkPhone,
			l.userId,
			u.userCode userCode,
			l.creationDate,
			l.createdBy,
			l.modifyDate,
			l.modifiedBy,
			l.linkIdCardType
		from itrip_user_link_user l left join itrip_user u on l.userId=u.id
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">l.id=#{id} and </if>
				<if test="linkUserName != null">l.linkUserName like concat('%', #{linkUserName}, '%') and </if>
				<if test="linkIdCard != null">l.linkIdCard=#{linkIdCard} and </if>
				<if test="linkPhone != null">l.linkPhone=#{linkPhone} and </if>
				<if test="user != null">l.userId=#{user.id} and </if>
			</trim>
		</where>
	</select>

	<insert id="save" parameterType="LinkUser">
		insert into itrip_user_link_user(
			<trim suffixOverrides=",">
				<if test="linkUserName != null">linkUserName, </if>
				<if test="linkIdCard != null">linkIdCard, </if>
				<if test="linkPhone != null">linkPhone, </if>
				<if test="user != null">userId, </if>
				<if test="creationDate != null">creationDate, </if>
				<if test="user != null">createdBy, </if>
				<if test="modifyDate != null">modifyDate, </if>
				<if test="user != null">modifiedBy, </if>
				<if test="linkIdCardType != null">linkIdCardType, </if>
			</trim>
		) values(
		<trim suffixOverrides=",">
			<if test="linkUserName != null">#{linkUserName}, </if>
			<if test="linkIdCard != null">#{linkIdCard}, </if>
			<if test="linkPhone != null">#{linkPhone}, </if>
			<if test="user != null">#{user.id}, </if>
			<if test="creationDate != null">#{creationDate}, </if>
			<if test="user != null">#{user.id}, </if>
			<if test="modifyDate != null">#{modifyDate}, </if>
			<if test="user != null">#{user.id}, </if>
			<if test="linkIdCardType != null">#{linkIdCardType}, </if>
		</trim>
		)
	</insert>

	<update id="update" parameterType="LinkUser">
		update itrip_user_link_user
		<set>
			<trim suffixOverrides=",">
				<if test="linkUserName != null">linkUserName=#{linkUserName}, </if>
				<if test="linkIdCard != null">linkIdCard=#{linkIdCard}, </if>
				<if test="linkPhone != null">linkPhone=#{linkPhone}, </if>
				<if test="modifyDate != null">modifyDate=#{modifyDate}, </if>
				<if test="user != null">modifiedBy=#{user.id}, </if>
				<if test="linkIdCardType != null">linkIdCardType=#{linkIdCardType}, </if>
			</trim>
		</set>
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">id=#{id}</if>
			</trim>
		</where>
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from itrip_user_link_user where id=#{id}
	</delete>

	<select id="findListInOrder" parameterType="java.lang.String" resultMap="orderMap">
		select linkUserName from itrip_hotel_order
		where linkUserName like CONCAT('%', #{linkUserName}, '%') and orderStatus=0
	</select>

	<resultMap id="orderMap" type="LinkUser">
		<result property="linkUserName" javaType="java.lang.String" column="linkUserName"/>
	</resultMap>

	<resultMap id="linkUserMap" type="LinkUser">
		<id property="id" javaType="java.lang.Long" column="id"/>
		<result property="linkUserName" javaType="java.lang.String" column="linkUserName"/>
		<result property="linkIdCard" javaType="java.lang.String" column="linkIdCard"/>
		<result property="linkPhone" javaType="java.lang.String" column="linkPhone"/>
		<result property="linkIdCardType" javaType="java.lang.Integer" column="linkIdCardType"/>
		<result property="creationDate" javaType="java.util.Date" column="creationDate"/>
		<result property="createdBy" javaType="java.lang.Long" column="createdBy"/>
		<result property="modifyDate" javaType="java.util.Date" column="modifyDate"/>
		<result property="modifiedBy" javaType="java.lang.Long" column="modifiedBy"/>
		<association property="user" javaType="User">
			<id property="id" javaType="java.lang.Long" column="userId"/>
			<result property="userCode" javaType="java.lang.String" column="userCode"/>
		</association>
	</resultMap>
</mapper>